VisorUtils/__pycache__/FODActor.cpython-311.pyc
VisorUtils/__pycache__/IOManager.cpython-311.pyc
VisorUtils/__pycache__/VisorObjects.cpython-311.pyc
VisorUI/__pycache__/VisorROIControlsUI.cpython-311.pyc
VisorUI/__pycache__/VisorTractControlsUI.cpython-311.pyc
